/* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
#alice {
  margin: 0;
  position: absolute;
  height: 200px;
  width: auto;
  top: 40%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* https://www.tech-wiki.online/en/rotate-image.html */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {                                                                          
    background-image: url('images/the_face.jpeg')
}  

h1 {
    color: white;
    font-family: Verdana, sans-serif;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2 */
h1.fadeIn span{
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.5s ease-out forwards;
  display:inline-block;
  top: 10%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
    position: absolute;
    color: white;
}

h1.fadeIn span:nth-of-type(2){
  animation-delay: 0.5s;
  top: 40%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}

h1.fadeIn span:nth-of-type(3){
  animation-delay: 1s;
  top: 70%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}

@keyframes fadeIn{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#image {
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
