/* https://css-tricks.com/perfect-full-page-background-image/ */
html {
  background: url(../images/hallway.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.table {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
  width: auto;
}

#drinkMe {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20%;
  width: auto;
}

#eatMe {
  margin: 0;
  position: fixed;
  top: 55%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20%;
  width: auto;
}

#alice {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 10%;
  height: 50%;
  width: auto;
}

#rabbit {
  height: 150px;
  width: auto;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

/* http://www.javascriptkit.com/dhtmltutors/css3-animation-swing.shtml */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(10deg);}
}

.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
