/* https://css-tricks.com/perfect-full-page-background-image/ */
body {
  background: url(../images/wonderland.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* https://stackoverflow.com/questions/61296518/how-to-add-fade-in-animation-for-each-word-in-text */
h1 {
    color: white;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-vertical2 */
h1.fadeIn span{
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.5s ease-out forwards;
  display:inline-block;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
    position: absolute;
    color: white;
}

h1.fadeIn span:nth-of-type(2){
  animation-delay: 0.5s;
  top: 40%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}

h1.fadeIn span:nth-of-type(3){
  animation-delay: 1s;
  top: 70%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100px;
}

@keyframes fadeIn{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#caterpillar {
    position: fixed;
    margin-bottom: 1px;
    margin-left : 1px;
    bottom: 0;
}

#rabbit {
  height: 150px;
  width: auto;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

/* http://www.javascriptkit.com/dhtmltutors/css3-animation-swing.shtml */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(2deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(2deg);}
}

@keyframes swinging{
    0%{transform: rotate(2deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(2deg);}
}

.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 30% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}

/* http://www.javascriptkit.com/dhtmltutors/css3-animation-swing.shtml */
@-webkit-keyframes swing{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swing{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(10deg);}
}

.swingImage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swing 3.5s ease-in-out forwards infinite;
    animation: swing 3.5s ease-in-out forwards infinite;
}

