p {
  font-family: Spartan;
  font-size: 20px;
    text-align: center;
}

h1 {
    font-family: Spartan;
    text-align: center;
}

button {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: red;
}

button:hover {
 background-color: red;
}
