/*Grid layout*/
/*https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
/*https://www.w3schools.com/css/css_grid.asp*/
body {
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    padding: 16px 32px;
}

.grid-layout{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
}

.grid-layout > div{
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    position: relative;
	text-align: center;
	/*vertical-align: center;*/
	margin: auto;
	padding: 20px, 0;
    border: 1px solid white;
}

img {
    width: 400px;
    height: 450px;
}
<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity -->
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.grid-layout > div:hover .image {
    opacity: 0.6;
}

.grid-layout > div:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
<!-- https://www.w3schools.com/css/css_tooltip.asp -->
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  right: 105%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
}

#arrow {
    width: 50px;
    height: 50px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    bottom:0px;
    right:0px;
}

#left_arrow {
	width: 50px;
	height: 50px;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom:0px;
    left:0px;
}
